Sets

In [2]:
#using set() constructor. Can also be declared in curly braces
set1 = set(("McLaren","Red Bull","Alpha Tauri","Ferrari","Alpine Renault","Haas","Alfa Romeo","Williams","Aston Martin"))
print(set1)
print(type(set1))

{'Haas', 'Williams', 'Alfa Romeo', 'Ferrari', 'Red Bull', 'Alpine Renault', 'Aston Martin', 'McLaren', 'Alpha Tauri'}
<class 'set'>

In [5]:
for i in set1:
    print(i)

print("\n")

print("McLaren" in set1)

Haas
Williams
Alfa Romeo
Ferrari
Red Bull
Alpine Renault
Aston Martin
McLaren
Alpha Tauri


True

In [19]:
set1 = set(("McLaren","Red Bull","Alpha Tauri","Ferrari","Alpine Renault","Haas","Aston Martin"))
set1.add("Alfa Romeo")
print(set1)

print("\n")
set2 = {"Mercedes","Williams"}
set2.update(set1)
print(set2)
print(len(set2))

{'Haas', 'Alfa Romeo', 'Ferrari', 'Red Bull', 'Alpine Renault', 'Aston Martin', 'McLaren', 'Alpha Tauri'}


{'Williams', 'Alfa Romeo', 'Mercedes', 'Ferrari', 'Red Bull', 'Alpine Renault', 'Aston Martin', 'McLaren', 'Alpha Tauri', 'Haas'}
10

In [27]:
set1 = set(("McLaren","Red Bull","Alpha Tauri","Ferrari","Alpine Renault","Haas","Alfa Romeo","Williams","Aston Martin","Mercedes"))
set1.remove("Mercedes")
print(set1)
print("\n")
set1.discard("Alfa Romeo")
print(set1)

{'Haas', 'Williams', 'Alfa Romeo', 'Ferrari', 'Red Bull', 'Alpine Renault', 'Aston Martin', 'McLaren', 'Alpha Tauri'}


{'Haas', 'Williams', 'Ferrari', 'Red Bull', 'Alpine Renault', 'Aston Martin', 'McLaren', 'Alpha Tauri'}

In [34]:
set1 = set(("McLaren","Red Bull","Alpha Tauri","Ferrari","Alpine Renault","Haas","Alfa Romeo","Williams","Aston Martin"))
set1.clear()
print(set1)
   # #we can also completely delete by
#del set1
#print(set)

set()

In [36]:
set1 = {"McLaren","Red Bull","Alpha Tauri"}
set2 = {"Ferrari","Alpine Renault","Haas"}
set3 = set1.union(set2)
print(set3)
print("\n")
#we can also do
set1.update(set2)
print(set1)

{'Haas', 'Ferrari', 'Alpha Tauri', 'Red Bull', 'Alpine Renault', 'McLaren'}


{'Haas', 'Ferrari', 'Alpha Tauri', 'Red Bull', 'Alpine Renault', 'McLaren'}

In [39]:
set1 = {"McLaren","Red Bull","Alpha Tauri"}
set2 = {"McLaren","Haas","Alpha Tauri","Williams"}
set1.intersection_update(set2)
print(set1)
print("\n")
#we can also do
set3 = set1.intersection(set2)
print(set3)

{'McLaren', 'Alpha Tauri'}


{'McLaren', 'Alpha Tauri'}

In [44]:
set1 = {"McLaren","Red Bull","Alpha Tauri"}
set2 = {"McLaren","Haas","Alpha Tauri","Williams"}
set3 = set1.symmetric_difference(set2)
print(set3)
print("\n")
#we can also do
set1.symmetric_difference_update(set2)
print(set1)

{'Haas', 'Williams', 'Red Bull'}


{'Red Bull', 'Williams', 'Haas'}